
 
 
 .menu-item-tile{
    margin-bottom: 25px;
 }
 .menu-item-tile hr{
    width: 80%;
 }

 .menu-item-tile .menu-item-price{
    font-size: 1.1em;
    text-align: right;
    margin-top: 10px;
    margin-right: -15px;
 }
 .menu-item-tile .menu-item-price span{
    font-size: .7em;

 }
 .menu-item-photo{
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
 }
 .menu-item-photo div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: green;
 }
 .menu-item-description{
    padding-right: 90px;

 }
 h3.menu-item-title{
    margin: 0 0 10px;
 }
 .menu-item-details{
    font-size: .9em;
    font-style: italic;
 }





 @media (max-width:767px){
    .menu-item-photo{
        margin-right: auto;
    }
    .menu-item-tile .menu-item-price{
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        text-decoration: underline;
        margin-bottom: 20px;
    }
    .menu-item-description{
        text-align: center;
    }
}